<h1>All Courses</h1>
<hr>
<table>
  <tr>
    <th>Course name</th>
    <th></th>
    <th>Instructor</th>
    <th></th>
    <th>Edit information</th>
    <th></th>
    <th>Remove</th>
  </tr>
  <% for lesson in @lessons %>
  <tr>
    <td><a href="/lessons/<%= lesson.id %>"><%= lesson.title %></a></td>
    <td>|</td>
    <td><%= lesson.instructor %></td>
    <td>|</td>
    <td><a href="/lessons/<%= lesson.id %>/edit">Edit</a></td>
  </tr>
  <% end %>
</table>
<hr>
<form action="/lessons/new"><input type="submit" value="Add a new course"></form>
