<h1>Courses</h1>
<table>
  <thead>
  <tr>
    <th>Course name</th>
    <th></th>
    <th>Instructor</th>
    <th></th>
    <th>Edit</th>
  </tr>
  </thead>
  <% for lesson in @lessons %>
  <tr>
    <td><a href="/lessons/<%= lesson.id %>"><%= lesson.title %></a></td>
    <td></td>
    <td><%= lesson.instructor %></td>
    <td></td>
    <td><a href="/lessons/<%= lesson.id %>/edit">Update / Delete</a></td>
  </tr>
  <% end %>
</table>
<form action="/lessons/new"><input type="submit" value="Add a new course"></form>
