<h2>Add a new course</h2>
<form method="post" action="/lessons">

    <div>
      <label for="title">Course Name:</label>
      <input type="text" name="title" id="title"/>
    </div>

    <div>
      <label for="instructor">Instructor:</label>
      <input type="text" name="instructor" id="instructor"/>
    </div>

    <div>
      <input type="submit" value="Add a new course"/>
    </div>
</form>
