<h1>All Bookings</h1>
<hr>
  <table>
    <tr>
      <th>Course</th>
      <th></th>
      <th>Member</th>
    </tr>
    <% for booking in @bookings %>
    <tr>
      <td><a href="/bookings/<%= booking.id %>"><%= booking.lesson.title %></a></td>
      <td>|</td>
      <td><a href="/bookings/<%= booking.id %>"><%= booking.member.full_name %></a></td>
    </tr>
    <% end %>
    </table>
<hr>
