<h1>All Bookings</h1>


<% for booking in @bookings %>
<tr>
  <td><a href="/bookings/<%= booking.id %>"><%= lesson.title %></a></td>
  <td>|</td>
  <td><%= member.full_name %></td>
</tr>
<% end %>
</table>
