<h1>All Bookings</h1>

  <table>
    <tr>
      <th>Course</th>
      <th></th>
      <th>Member</th>
    </tr>
    <% for booking in @bookings %>
    <tr>
      <td><a href="/bookings/<%= booking.id %>"><%= booking.lesson.id %></a></td>
      <td>|</td>
      <td><%= booking.member.id%></td>
    </tr>
    <% end %>
    </table>
