<h2>New booking</h2>
<form method="POST" action="/bookings">

  <div>
    <label for="member_select">Select Member:</label>
      <select name="member_id" id="member_select">
          <% @members.each do |member| %>
              <option value="<%= member.id %>"><%= member.full_name %></option>
              <% end %>
      </select>
  </div>

  <div>
    <label for="lesson_select">Select Course:</label>
      <select name="lesson_id" id="lesson_select">
        <% @lessons.each do |lesson| %>
          <option value="<%= lesson.id %>"><%= lesson.title %></option>
          <% end %>
      </select>
  </div>
  <div>
    <input type="submit" value="New Booking"/>
  </div>
</form>
