h1 {
  font-family: arial;
}

h3 {
  color: #ffa500;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 85px;
  text-decoration: none;
}

body {
  background: white url('/images/GetFitLogo2.png');
  background-size: center;
  background-repeat: no-repeat;

}

input[type="submit"] {
  font-family: arial;
  background-color: #ffa500;
  border: black;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

table {
  table-layout: fixed;
  width: 60%;
  border-collapse: collapse;
  border: 3px solid black;
}

th, td {
  padding: 15px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #E0E1dd;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr {
  background-image: url(noise.png);
  padding: 10px;
  text-align: center;
}

table {
  background-color: #ff33cc;
}


thead {
  background-color: #ffffff;
  color: black;
  text-transform: uppercase;
  padding: 5px;
}

input {
  padding: 5px 5px;
  margin: 4px 0;
  box-sizing: border-box;
  border-radius: 2px;
}

input[type=text]:focus {
  border: 3px solid #333;
}

select {
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 2px;
}

/* body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
} */
